#body_wrap {
    width: 1000px;
    margin:0 auto;
}
.cart-warp {
    background: #fff;
    margin-bottom: 20px;
    width: 1000px;
    margin:0 auto;
}
.cart-thead {
    display: inline-block;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    position: relative;
}
.cart-main .cart-thead .t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.cart-main .cart-thead .column {
    float: left;
}
.cart-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cart-main .jdcheckbox, .cart-main .jdradio {
    float: none;
    position: relative;
    z-index: 5;
    vertical-align: middle;
    _vertical-align: -1px;
    margin: 0 3px 0 0;
    padding: 0;
}
.cart-main-new .cart-thead .t-goods {
    width: 208px;
}
.cart-checkbox label {
    display: none;
}
.cart-main .cart-thead .t-props {
    width: 80px;
    height: 32px;
    padding: 0 20px;
}
.cart-main-new .cart-thead .t-props {
    width: 150px;
}
.cart-main .cart-thead .t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
}
.cart-main .cart-thead .t-quantity {
    width: 80px;
    text-align: center;
}
.cart-main .cart-thead .t-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
}
.cart-main .cart-thead .t-action {
    width: 75px;
}
.cart-item-list {
    margin-bottom: 20px;
}
.cart-tbody {
    font-family: "Microsoft YaHei",SimSun,verdana;
}
.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-width: 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}
.cart-tbody .item-item {
    position: relative;
    padding: 0 10px 1px 40px;
    border-top: 1px solid #c5c5c5;
    line-height: 20px;
    height: 116px;
    background: #fff;
}
.cart-tbody .item-selected, .cart-tbody .item-selected .single-header {
    background: #fff4e8;
}
.cart-tbody .item-item .p-checkbox {
    z-index: 3;
    width: 30px;
    min-height: 10px;
    height: 10px;
    margin-top: 10px;
}
.cart-tbody .item-item .cell {
    float: left;
    padding: 15px 0 10px;
}
.cart-main-new .cart-tbody .item-item .p-goods {
    width: 300px;
}
.cart-tbody .item-item .goods-item .p-img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.p-img a {
    color: #666;
    text-decoration: none;
}
.cart-tbody .item-item .goods-item .p-name {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.cart-tbody .item-item .goods-item .p-name a {
    color: #333;
}
.cart-main-new .cart-tbody .item-item .p-props-new, .cart-main-new .cart-tbody .item-item .p-props-new .props-txt {
    width: 160px;
}
.cart-main-new .cart-tbody .item-item .p-props-new, .cart-main-new .cart-tbody .item-item .p-props-new .props-txt {
    width: 160px;
}
.cart-tbody .item-item .p-props-new .props-txt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}
.cart-tbody .item-item .p-price {
    width: 120px;
    padding-right: 40px;
    font-family: verdana;
    text-align: right;
}
.cart-tbody .item-item .p-price strong {
    display: block;
    color: #333;
    font-weight: 400;
}
.cart-tbody .item-item .p-quantity {
    width: 80px;
}
.cart-tbody .item-item .p-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 80px;
}
.cart-tbody .item-item .p-quantity .decrement.disabled, .cart-tbody .item-item .p-quantity .increment.disabled {
    cursor: default;
    color: #e9e9e9;
}
.cart-tbody .item-item .p-quantity .decrement {
    float: left;
}
.cart-tbody .item-item .p-quantity .decrement, .cart-tbody .item-item .p-quantity .increment {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}
.cart-tbody .item-item .p-quantity .itxt {
    position: absolute;
    left: 17px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 46px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
}
.cart-tbody .item-item .p-quantity .increment {
    float: right;
    border: 1px solid #cacbcb;
    border-left: 0;
    color: #666;
}
.cart-tbody .item-item .p-sum {
    width: 100px;
    padding-right: 40px;
    text-align: right;
    font-family: verdana;
}
.cart-tbody .item-item .p-sum strong {
    color: #333;
    font-weight: 700;
    display: block;
}
.cart-tbody .item-item .p-ops {
    width: 75px;
}
.cart-tbody .item-item .p-ops a {
    color: #666;
    display: block;
}
.cart-toolbar {
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    position: relative;
}
.toolbar-wrap {
    position: relative;
    width: 988px;
    margin: 0 auto;
}
.toolbar-wrap .options-box {
    position: relative;
    height: 50px;
}
.toolbar-wrap .select-all {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
    white-space: nowrap;
}
.toolbar-wrap .operation {
    float: left;
    height: 50px;
    width: 310px;
    line-height: 50px;
}
.toolbar-wrap .operation a {
    float: left;
    margin-left: 10px;
    color: #666;
}
.toolbar-wrap .toolbar-right {
    position: absolute;
    height: 52px;
    right: 0;
    top: -1px;
    width: 610px;
}
.toolbar-wrap .toolbar-right .normal {
    height: 52px;
}
.toolbar-wrap .toolbar-right .normal .comm-right {
    float: right;
    width: 650px;
}
.toolbar-wrap .btn-area {
    float: right;
}
.toolbar-wrap .btn-area .common-submit-btn, .toolbar-wrap .btn-area .jdInt-submit-btn, .toolbar-wrap .btn-area .submit-btn {
    display: block;
    position: relative;
    width: 96px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background: #e54346;
    overflow: hidden;
}
.toolbar-wrap .price-sum {
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    color: #666;
    width: auto;
    position: relative;
}
.toolbar-wrap .price-sum div {
    white-space: nowrap;
}
.toolbar-wrap .price-sum .txt-new {
    width: 50px;
}
.toolbar-wrap .price-sum .txt {
    float: left;
    width: 50px;
    text-align: right;
    color: #999;
}
.toolbar-wrap .price-sum .price {
    display: inline-block;
    text-align: right;
    font-family: verdana;
}
.toolbar-wrap .price-sum .price em {
    font-size: 16px;
    color: #e4393c;
    font-weight: 700;
}
.toolbar-wrap .price-sum .price-tips {
    vertical-align: text-bottom;
    display: inline-block;
    height: 18px;
    width: 12px;
    background: url(//misc.360buyimg.com/user/cart/css/i/price-tips.png) 0 0 no-repeat;
}
.price-tipsbox {
    display: none;
    position: absolute;
    top: -42px;
    left: 160px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    box-shadow: 0 0 2px #eee;
    background: #fff!important;
    border-color: #ddd!important;
}
.toolbar-wrap .amount-sum {
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
}
.toolbar-wrap .amount-sum em {
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.cart-tbody .item-extra {
    position: relative;
}
.mb10 {
    margin-bottom: 10px;
}
.w {
    width: 990px;
    margin: 0 auto;
}
.mb10 {
    margin-bottom: 10px;
}
.cart-empty {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
}
.cart-empty .message {
    height: 98px;
    padding-left: 341px;
    background: url(//misc.360buyimg.com/user/cart/css/i/no-login-icon.png) 250px 22px no-repeat;
}
.cart-empty .message ul {
    padding-top: 23px;
}
.cart-empty .message .txt {
    font-size: 14px;
}
.cart-empty .message li {
    line-height: 26px;
}
.ftx-05, .ftx05 {
    color: #005ea7;
}
.decrement.disabled,.increment.disabled {
    cursor: default;
    color: #e9e9e9;
}
.toolbar-wrap .btn-area .submit-btn.not-allowed{
    cursor: not-allowed;
    background: #808080;
}