<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.king.bookstore.common.inteface.mapper.IExclusivePushMapper">

    <select id="queryExclusivePush" parameterType="java.lang.String" resultType="com.king.bookstore.common.pojo.Book">
        SELECT BookName, Author, Publish, PublishDate, Status, OriginalPrice, DiscountedPrice, Description, Amount, Image,Link, BusinessId, BDBid,BookId id, SmallImage1, SmallImage2, SmallImage3, SmallImage4, SaleNum, Stock, NewBookFavorite FROM test.exclusive_push WHERE NewBookFavorite=#{type} ORDER BY SaleNum DESC
    </select>

    <!--独家推荐-->
    <insert id="addRecommend" parameterType="com.king.bookstore.common.pojo.Book">
        INSERT INTO test.exclusive_push ( `BookName`,  `Author`, `Publish`, `PublishDate`, `BDBid`, `OriginalPrice`, `DiscountedPrice`, `Description`, `Stock`,`Image`,SmallImage1,SmallImage2,SmallImage3,SmallImage4,BookCode,NewBookFavorite,Link,BookId) VALUES (
        #{bookName},  #{author}, #{publish}, DATE_FORMAT( #{publishDate}, '%Y-%m-%d'), #{bDBid},  #{originalPrice},#{discountedPrice}, #{description}, #{amount},#{image},#{smallImage1},#{smallImage2},#{smallImage3},#{smallImage4},#{bookCode},#{newBookFavorite},"goodToDetail",#{id})

    </insert>

    <select id="getRecommendList" resultType="com.king.bookstore.common.pojo.Book">
        SELECT  * FROM test.exclusive_push
    </select>

    <update id="updateRecommend" parameterType="com.king.bookstore.common.pojo.Book">
        UPDATE `test`.exclusive_push SET `BookName`=#{bookName}, `BDSid`=#{bDSid}, `Author`=#{author}, `Publish`=#{publish},PublishDate=#{publishDate}, `BDBid`=#{bDBid}, `BBid`=#{bBid}, `BSid`=#{bSid}, `OriginalPrice`=#{originalPrice}, `DiscountedPrice`=#{discountedPrice}, `Description`=#{description}, `Stock`=#{amount} , `image`=#{image},SmallImage1=${smallImage1},SmallImage2=#{smallImage2},SmallImage3=#{smallImage3},SmallImage4=#{smallImage4} WHERE (`Id`=#{id});
    </update>

    <delete id="deleteRecommend" parameterType="com.king.bookstore.common.pojo.Book">
        DELETE  FROM `test`.exclusive_push WHERE Id=#{id}
    </delete>

    <select id="getRecommendAmount" resultType="java.lang.Integer">
        SELECT count(Id) FROM test.exclusive_push
    </select>

</mapper>

